<div class="books-table-container">
  <table class="books-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Total Count</th>
        {{#if @isIssued}}
          <th>Total Issued</th>
          <th>Assign Book</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
        {{yield}}
    </tbody>
  </table>
</div>
